@using UfoGame.ViewModel
<div class="row align-items-center">
    <CardButton OnClick="PlayerAction.Act"
                Enabled="PlayerAction.CanAct()"
                CssClass="col-8 ms-3">
        @ChildContent
    </CardButton>
    <CardUpDownArrows OnClickUp="PlayerAction.IncrementInput"
                      OnClickDown="PlayerAction.DecrementInput"
                      EnabledUp="PlayerAction.CanActOnIncrementedInput"
                      EnabledDown="PlayerAction.CanActOnDecrementedInput" />
</div>
<CardInput @bind-Input="PlayerAction.Input"
           Value="PlayerAction.Input"
           MaxValue="PlayerAction.InputMax()"
           MinValue="PlayerAction.InputMin()"
           Enabled="PlayerAction.CanActOnIncrementedInput || PlayerAction.CanActOnDecrementedInput" />

@code
{
    [Parameter]
    public IPlayerActionOnRangeInput PlayerAction { get; set; } 
        = new NoOpPlayerActionOnRangeInput();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
