<div class="row">
    <button class="col btn btn-primary mx-3 mt-2"
            @onclick="@OnClick"
            disabled="@(!Enabled())">
        @ChildContent
    </button>
</div>

@code
{
    [Parameter, EditorRequired]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public Func<bool> Enabled { get; set; } = () => true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
