@using UfoGame.Model;

@if (Enabled())
{
    <div class="row">
        <div class="col-7 text-start">@Text</div>
        <div class="col-1 col-2">@Value()</div>
    </div>
}

@code
{
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public Func<int> Value { get; set; } = () => 0;

    [Parameter]
    public Func<bool> Enabled { get; set; } = () => true;

}
