@using UfoGame.Model
@inject Game Game

<div class="row">
    <input class="col mx-3 my-1" 
           type="range" min="0" max="@Game.Staff.CurrentSoldiers" step="1"
           disabled="@(!Enabled())"
           @bind="Game.MissionPrep.SoldiersToSend" @bind:event="oninput"/>
</div>

@code
{
    // kja WIP, currently unused
    [Parameter]
    public Func<bool> Enabled { get; set; } = () => true;
}
