@using UfoGame.Model;

<div class="row align-items-center">
    <div class="col-6 text-start">@Text</div>
    <div class="col">@DisplayedValue()</div>
</div>

@code
{
    [Parameter] // kja rename to label
    public string Text { get; set; } = "";

    [Parameter]
    public object Value { get; set; } = "";

    [Parameter]
    public bool Enabled { get; set; } = true;

    private string DisplayedValue()
    {
        return Enabled ? Value.ToString() ?? string.Empty : "-";
    }
}