<button class="col btn btn-primary m-1"
        @onclick="@OnClick"
        disabled="@(!Enabled)">
    @ChildContent
</button>
@code
{
    [Parameter, EditorRequired]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
