@using UfoGame.Cards.Components
@inject Model.Game Game;
@inject ViewModel.HireAgentsPlayerAction HireAgents
@inject NavigationManager Navigation

<Card Title="Agents">
    <CardDataRow Label="Transport capacity" Value="Game.MissionPrep.Data.TransportCapacity"/>
    <CardDataRow Label="All agents" Value="Game.Staff.Data.AvailableAgents.Count"/>
    <CardDataRow Label="Ready agents" 
                 Value="Game.Staff.Data.AgentsSendableOnMissionCount"
                 ValueCssClass="text-success"/>
    <CardDataRow Label="Recovering agents" 
                 Value="Game.Staff.Data.AgentsInRecoveryCount"
                 ValueCssClass="text-danger" />
    <CardDataRow Label="Agent recovery speed" Value="Game.Staff.Data.AgentRecoverySpeed"/>
    <CardDataRow Label="Agent effectiveness" Value="Game.Staff.Data.AgentEffectiveness"/>
    <CardDataRow Label="Agent survivability" Value="Game.Staff.Data.AgentSurvivability"/>
    <CardButtonWithRangeInput PlayerAction="HireAgents"/>
    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-primary"
                    style="width: 300px"
                    @onclick="@(() => Navigation.NavigateTo("mission"))">
                Go to mission
            </button>
        </div>
    </div>
</Card>