@using UfoGame.Cards.Components
@inject Model.Game Game;

<Card Title="Faction Score">
    <CardDataRow Text="Player" Value="@Game.PlayerScore.Value" />
    @{
        var factions = Game.Factions.Data
            .Where(faction => faction.Discovered)
            .OrderBy(faction => faction.Name);
        foreach (var faction in factions)
        {
            <CardDataRow Text="@faction.Name" Value="faction.Score"/>
        }
        if (Game.Factions.Data.Any(faction => !faction.Discovered))
        {
            <div class="row">
                <div class="col">More factions may appear here as you discover them!</div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">All factions discovered! Now ensure their score is zero!</div>
            </div>
        }
    }
</Card>
