@using UfoGame.Cards.Components
@inject Model.Game Game;
@inject ViewModel.HireSoldiersPlayerAction HireSoldiers
@inject ViewModel.FireSoldiersPlayerAction FireSoldiers
@inject NavigationManager Navigation

<Card Title="Soldiers">
    <CardDataRow Text="Transport capacity" Value="Game.MissionPrep.Data.TransportCapacity"/>
    <CardDataRow Text="All soldiers" Value="Game.Staff.Data.CurrentSoldiers"/>
    <CardDataRow Text="Ready soldiers" 
                 Value="Game.Staff.Data.ReadySoldiers"
                 ValueCssClass="text-success"/>
    <CardDataRow Text="Recovering soldiers" 
                 Value="Game.Staff.Data.RecoveringSoldiers"
                 ValueCssClass="text-danger" />
    <CardDataRow Text="Soldier recovery speed" Value="Game.Staff.Data.SoldierRecoverySpeed"/>
    <CardDataRow Text="Soldier effectiveness" Value="Game.Staff.Data.SoldierEffectiveness"/>
    <CardDataRow Text="Soldier survivability" Value="Game.Staff.Data.SoldierSurvivability"/>
    <CardButtonWithRangeInput PlayerAction="HireSoldiers"/>
    <CardButtonWithRangeInput PlayerAction="FireSoldiers" />
    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-primary"
                    style="width: 300px"
                    @onclick="@(() => Navigation.NavigateTo("mission"))">
                Go to mission
            </button>
        </div>
    </div>
</Card>