@inject Model.Game Game;
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-start">Time control</h5>
        <CardDataRow Text="Current time" Value="@(() => Game.Timeline.CurrentTime)" />
        <CardButton OnClick="Game.AdvanceTime">
            Advance time
        </CardButton>
    </div>
</div>