.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page {
    /* 
        Required to avoid fixed navbar overlapping the page, per:
        https://getbootstrap.com/docs/5.3/components/navbar/#placement
        
        56px is the height of the navbar, as measured with Chrome dev tools.
    */
    padding-top: 56px;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
