@page "/"
@page "/game"
@using UfoGame.Cards

<PageTitle>UFO game</PageTitle>

<h1>UFO game</h1>

<div class="container-fluid text-center px-2">
    <TimeControlCard />
    <HQCard />
    <MissionCard />
    <ArchiveCard />
</div>