@page "/game"

<PageTitle>UFO game</PageTitle>

<h1>UFO game</h1>

<p role="status">Current time: @currentTime</p>

<button class="btn btn-primary" @onclick="IncrementTime">Advance time</button>

@code {
    private int currentTime = 0;

    private void IncrementTime()
    {
        currentTime++;
    }
}
