@page "/game"
@inject Model.Timeline Timeline;

<PageTitle>UFO game</PageTitle>

<h1>UFO game</h1>

<p role="status">Current time: @Timeline.CurrentTime</p>

<button class="btn btn-primary" @onclick="Timeline.IncrementTime">Advance time</button>
