@page "/grid"
@inject Model.Game Game;

<PageTitle>Grid</PageTitle>

<h1>Grid</h1>

<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Time control</h5>
            <div class="row">
                <div class="col-4 p-2">Current time</div>
                <div class="col-1 col-2 p-2">@Game.Timeline.CurrentTime</div>
                <button class="col btn btn-primary" @onclick="Game.AdvanceTime">Advance time</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">HQ</h5>
            <div class="row">
                <div class="col-4 p-2">Money</div>
                <div class="col-1 col-2 p-2">@Game.Money.CurrentMoney</div>
            </div>
            <div class="row">
                <div class="col-4 p-2">Soldiers</div>
                <div class="col-1 col-2 p-2">@Game.Staff.CurrentSoldiers</div>
                <button
                    class="col btn btn-primary"
                    @onclick="Game.HireSoldier"
                    disabled="@(!Game.CanHireSoldier())">
                    Hire soldier for $@Game.Staff.SoldierPrice
                </button>
            </div>
        </div>
    </div>

</div>