@page "/grid"
@inject Model.Game Game;

<PageTitle>Grid</PageTitle>

<h1>Grid</h1>

<div class="container text-center">
    <div class="row row-cols-2 g-2 border border-2">
        <div class="col">
            <div class="row bg-light border">
                <div class="col hstack gap-1">
                    <div class="text-bg-info border p-2">Current time</div>
                    <div class="text-bg-light col-2 border">@Game.Timeline.CurrentTime</div>
                    <button class="btn btn-primary" @onclick="Game.AdvanceTime">Advance time</button>
                </div>
            </div>
            <div class="row bg-light border">
                <div class="col hstack gap-1">
                    <div class="text-bg-info border p-2">Money</div>
                    <div class="text-bg-light col-2 border">@Game.Money.CurrentMoney</div>
                </div>
            </div>
            <div class="row bg-light border">
                <div class="col hstack gap-1">
                    <div class="text-bg-info border p-2">Soldiers</div>
                    <div class="text-bg-light col-2 border">@Game.Staff.CurrentSoldiers</div>
                    <button
                        class="btn btn-primary"
                        @onclick="Game.HireSoldier"
                        disabled="@(!Game.CanHireSoldier())">
                        Hire soldier for $@Game.Staff.SoldierPrice
                    </button>
                </div>
            </div>
        </div>
        <div class="col border border-2">
            Column2
        </div>
    </div>
</div>