@page "/"
@page "/hq"
@using UfoGame.Cards

<PageTitle>HQ</PageTitle>

<h1>HQ</h1>

<div class="container-fluid text-center px-0">
    <div class="row">
        <PlayerActionsCard/>
        <AssetsCard/>
        <MissionCard/>
        <ScoreCard/>
        <StatsCard/>
    </div>
</div>