@page "/mission"
@using UfoGame.Components
@using UfoGame.Model
@inject Game Game

<PageTitle>Mission</PageTitle>

<h1>Mission</h1>

<div class="list-group">
    @{
        var sortedSoldiers = Game.Staff.Data.Soldiers
            .OrderBy(s => s.ExperienceBonus(Game.Timeline.CurrentTime)).ToArray();
        @for (int i = 0; i < sortedSoldiers.Length; i++)
        {
            <SoldierListItem Index="i" Soldier="sortedSoldiers[i]"></SoldierListItem>
        }
    }
</div>
