@page "/mission"
@using UfoGame.Components
@using UfoGame.Model

<PageTitle>Mission</PageTitle>

<h1>Mission</h1>

<div class="list-group">
    <SoldierListItem CurrentTime="10" Index="0" Soldier="@_sol0"></SoldierListItem>
    <SoldierListItem CurrentTime="10" Index="1" Soldier="@_sol1"></SoldierListItem>
</div>

@code
{
    private readonly Soldier _sol0 = new Soldier("Alfred", 5);
    private readonly Soldier _sol1 = new Soldier("Przemek", 3);
}
