@page "/mission"
@using UfoGame.Components
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject ViewStateRefresh ViewStateRefresh
@inject MissionEventLogsData MissionEventLogsData;

@* kja WIP: Mission.razor *@
<PageTitle>Mission</PageTitle>

<h1>Mission</h1>

<div class="list-group">
    @{
        for (int i = 0; i < MissionEventLogsData.Data.Count; i++)
        {
            <EventListItem Index="i" Log="MissionEventLogsData.Data[i]" />
        }
    }
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewStateRefresh.Event += StateHasChanged;
    }
}
