@page "/mission"
@using UfoGame.Components
@using UfoGame.Model
@using UfoGame.Cards
@using UfoGame.ViewModel
@inject Game Game
@inject Timeline Timeline
@inject NavigationManager Navigation
@inject Staff Staff
@inject StateRefresh StateRefresh

@* kja rename Mission page to Deployment *@
<PageTitle>Mission</PageTitle>

<h1>Mission</h1>

<div class="container-fluid text-center px-2">
    <div class="row">
        <MissionCard />
    </div>
</div>

<div class="list-group">
    @{
        var sortedAgents = Staff.Data.AvailableAgentsSortedByLaunchPriority(Timeline.Data.CurrentTime);
        @for (int i = 0; i < sortedAgents.Count; i++)
        {
            <AgentListItem Index="i" Agent="sortedAgents[i]" />
        }
    }
</div>
<div class="container text-center pt-2" style="width: 300px">
    <div class="row">
        <button class="btn btn-primary" 
                @onclick="@(() => Navigation.NavigateTo("hq"))">
            Go to HQ
        </button>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        StateRefresh.Event += StateHasChanged;
    }
}
