@page "/mission"
@using UfoGame.Components
@using UfoGame.Model
@using UfoGame.Cards
@inject Game Game
@inject NavigationManager Navigation

<PageTitle>Mission</PageTitle>

<h1>Mission</h1>

<div class="container-fluid text-center px-2">
    <div class="row">
        <MissionCard />
    </div>
</div>

<div class="list-group">
    @{
        var sortedSoldiers = Game.Staff.Data.AvailableSoldiersSortedByLaunchPriority(Game.Timeline.CurrentTime);
        @for (int i = 0; i < sortedSoldiers.Count; i++)
        {
            <SoldierListItem Index="i" Soldier="sortedSoldiers[i]" />
        }
    }
</div>
<div class="container text-center pt-2" style="width: 300px">
    <div class="row">
        <button class="btn btn-primary" 
                @onclick="@(() => Navigation.NavigateTo("hq"))">
            Go to HQ
        </button>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Game.StateRefresh.Event += StateHasChanged;
    }
}
