@page "/settings"
@inject Model.Game Game;

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<div class="container text-center" style="max-width: 500px">
    <div class="row">
        <div class="col btn btn-danger">
            Reset game
        </div>
    </div>
</div>